<!--Sin uso en inicio porque lo hice direto en el HTML-->
<div class="container">    
    <div class="card-deck">
        <div class="card">
            <div class="rating">
              <img width="13.5" height="13.5" src="assets/star.png" alt="">
              6.8
            </div>
            <img src="assets\portadas\img1.png" class="card_image" height="400" width="266">
            <div class="texto">Black Widow</div>
        </div>
        <div class="card">
          <div class="rating">
            <img width="13.5" height="13.5" src="assets/star.png" alt="">
            7.9
          </div>
          <img src="assets\portadas\img2.png" class="card_image" height="400" width="266">
            <div class="texto">Shang Chi</div>
        </div>
        <div class="card">
          <div class="rating">
            <img width="13.5" height="13.5" src="assets/star.png" alt="">
            8.4
          </div>
          <img src="assets\portadas\img3.png" class="card_image" height="400" width="266">
            <div class="texto">Loki</div>
        </div>
        <div class="card">
          <div class="rating">
            <img width="13.5" height="13.5" src="assets/star.png" alt="">
            8.3
          </div>
          <img src="assets\portadas\img4.png" class="card_image" height="400" width="266">
            <div class="texto">How I Met Your Mother</div>
        </div>
        <div class="w-100 py-2"></div>
        <div class="card">
          <div class="rating">
            <img width="13.5" height="13.5" src="assets/star.png" alt="">
            8.3
          </div>
          <img src="assets\portadas\img5.png" class="card_image" height="400" width="266">
            <div class="texto">Money Heist</div>
        </div>
        <div class="card">
          <div class="rating">
            <img width="13.5" height="13.5" src="assets/star.png" alt="">
            8.8
          </div>
          <img src="assets\portadas\img6.png" class="card_image" height="400" width="266">
            <div class="texto">Friends</div>
        </div>
        <div class="card">
          <div class="rating">
            <img width="13.5" height="13.5" src="assets/star.png" alt="">
            8.1
          </div>
          <img src="assets\portadas\img7.png" class="card_image" height="400" width="266">
            <div class="texto">The Big Bang Theory</div>
        </div>
        <div class="card">
          <div class="rating">
            <img width="13.5" height="13.5" src="assets/star.png" alt="">
            7
          </div>
          <img src="assets\portadas\img8.png" class="card_image" height="400" width="266">
          <div class="texto">Two And a Half Men</div>
      </div>
    </div>
  </div>
