<!doctype html >
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Entrega numero 1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>

  <!--HEADER -->
  <header style="background-color:powderblue;"> 
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Folcademy</h1>
        <p class="lead">Meneses Agustin</p>
      </div>
    </div>
    <ul class="nav justify-content-center" style="background: linear-gradient(to right, hsl(184, 46%, 27%) 0%, #15d1c1 100%) ;">
      <li class="nav-item">
        <a class="nav-link active" style="color:rgb(8, 16, 27);" href="#"><b>Navegador</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" style="color:rgb(8, 16, 27);" href="#"><b>Pagina 1</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" style="color:rgb(8, 16, 27);" href="#"><b>Pagina 2</b></a>
      </li>
    </ul>
  </header>
  <!--FIN HEADER -->

  <body style="background: linear-gradient(to left, #a56dbe 0%, #ffffff 100%);">
    <br>
    <br>
    <br>

    <!--PRIMER SECTION -->
    <section> 
      <div class="card-group">
        <div style="background-color: rgb(53, 119, 129);" class="card">
          <div class="card-body">
            <h5 class="card-title">Primera columna</h5>
            <br>
            <p class="card-text">Este es un texto de prueba de la primera columna. :)</p>
            <br>
            <p class="card-text" class="text-white">Last updated 20 mins ago</p>
          </div>
        </div>
        <div style="background-color: rgb(53, 119, 129);" class="card">
          <div class="card-body">
            <h5 class="card-title">Segunda columna</h5>
            <br>
            <p class="card-text">Este es un texto de prueba de la segunda columna. :)</p>
            <br>
            <p class="card-text" class="text-white">Last updated 18 mins ago</p>
          </div>
        </div>
      </div>
    </section>
    <!--FIN PRIMER SECTION -->

      <br> 
      <br>

    <!--SEGUNDO SECTION -->  
    <section>
      <div class="card-group">
        <div style="background-color:powderblue;" class="card">
          <div class="card-body">
            <h5 class="card-title">Primera columna</h5>
            <br>
            <p class="card-text">Este es un texto de prueba de la primera columna. :)</p>
            <br>
            <p class="card-text" class="text-secondary">Last updated 16 mins ago</p>
          </div>
        </div>
        <div style="background-color:powderblue;" class="card">
          <div class="card-body">
            <h5 class="card-title">Segunda columna</h5>
            <br>
            <p class="card-text">Este es un texto de prueba de la segunda columna. :)</p>
            <br>
            <p class="card-text" class="text-secondary">Last updated 14 mins ago</p>
          </div>
        </div>
        <div style="background-color:powderblue;" class="card">
          <div class="card-body">
            <h5 class="card-title">Tercer columna</h5>
            <br>
            <p class="card-text">Este es un texto de prueba de la tercer columna. :)</p>
            <br>
            <p class="card-text" class="text-secondary">Last updated 12 mins ago</p>
          </div>
        </div>
      </div>
    </section>
    <!--FIN SEGUNDO SECTION -->

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <!--FOOTER -->
    <footer>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="#">MenesesAgustin.com</a>
      </div>

    </footer>
    <!--FIN FOOTER -->

  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  
</html>
